@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义基础样式 */
@layer base {
  :root {
    --primary: #e5383b;
    --green: #4f772d;
    --red: #ba181b;
    --white: #ffffff;
    --gray-200: #d3d3d3;
    --gray-400: #9b9a9a;
    --gray: #161a1d;
    --black: #0b090a;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    line-height: 140%;
    box-sizing: border-box;
  }

  body {
    font-family: 'Microsoft YaHei', sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
